<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../css/style.css">
        <title>Inicio</title>
    </head>
    <body>
        <header>
            <nav class="navBar containerLayout">
                <a class="logo" href="../index.html">
                    <img src="../images/mar-fisionut-logo.png" alt="Logo">
                </a>
                <ul class="navBar">
                    <li class="navItem"> <a class="navLink" href="../index.html">Inicio</a></li>
                    <li class="navItem"> <a class="navLink" href="#">Nosotros</a></li>
                    <li class="navItem"> <a class="navLink" href="../views/Servicios.html">Servicios</a></li>
                    <li class="navItem"> <a class="navLink" href="../views/Blog.html">Blog</a></li>
                    <li class="navItem active"> <a  class="navLink"href="../views/Contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <main>
                nosotros
        </main>

    <footer>
        <section class="sectionF containerLayout" >
                <!-- LOGO -->
            <div class="column">
                <img src="../images/mar-fisionut-logo.png" alt="logo">
            </div>

            <!-- HORARIOS -->
            <div class="column">
                <div class="contact">
                    <h3>Horarios</h3>
                        <p> Lunes a Viernes </p> 
                        08:00 am - 6:00 pm <br>
                        Sábado <br>
                        9:00 am - 1:00 pm</p>

                    <h3>Teléfonos</h3>
                         <p> +52 222222222 </p>
                </div>
                
                <!-- ICONOS -->
                <div class="socialMedia">
                    <ul>
                        <li class="navItem"> <img src="../images/wp-icon.png" alt=""></li>
                        <li class="navItem"> <img src="../images/fb-icon.jpg" alt=""></li>
                    </ul> 
                </div>
            </div>    
        </section>

         <!-- firma -->
        <div class="footerBottom">
            <p> MAR.FISIONUT® 2022</p>
        </div>

        </div>

    </footer>
    
        
    </body>
</html>